extends ../layout 

block content 
    .row
        .col-sm-8
            h1= title
        .col-sm-4
            a(href="/MyBook/add" , class="btn btn-success float-right") Add New Book

    
    table.table 
        thead
            tr
                th NAME
                th PRICE
                //- th Actions
        tbody
            each Book in MyBooks
                tr 
                    td=Book.name
                    td=Book.price
                    //- td
                    //-     a(href="/MyBook/delete" +Book._id, class="btn btn-danger") Delete